.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  transition: 0.2s;
  transform: translateX(100%);
  z-index: 3;
  max-width: 100%;

  &--open {
    transform: translateX(0);

    .cart-sidebar__overlay {
      left: auto;
      opacity: 1;
    }
  }

  &__sidebar {
    width: 500px;
    max-width: 100%;
    background-color: #141414;
    overflow: auto;
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
  }

  &__title {
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: center;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.5);
    transition: 0.2s;

    &--show {
      z-index: 1;
      opacity: 1;
    }
  }

  &__suggestion {
    margin-top: auto;
  }

  $sugImgSize: 8rem;
  $sugImgSizeMob: 5rem;

  &__suggestion-img {
    width: $sugImgSizeMob;
    height: $sugImgSizeMob;
    object-fit: cover;
    border-radius: 50%;

    @include breakpoint(sm) {
      width: $sugImgSize;
      height: $sugImgSize;
    }
  }

  &__suggestion-button {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;

    &:hover {
      @include breakpoint(sm) {
        .cart-sidebar {
          &__suggestion-desc {
            opacity: 1;
            top: -1rem;
          }
        }
      }
    }
  }

  &__suggestion-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @include breakpoint(sm) {
      font-size: 2rem;
    }
  }

  &__suggestion-desc {
    position: absolute;
    width: max-content;
    color: #141414;
    padding: 0.2rem 0.4rem;
    left: 50%;
    border-radius: 10px;
    top: 0;
    transform: translate(-50%);
    z-index: 1;
    transition: 0.2s;
    opacity: 1;
    font-size: 0rem;

    @include breakpoint(sm) {
      font-size: 1.4rem;
      opacity: 0;
      background-color: white;
    }

    &::after {
      content: '+';
      position: absolute;
      top: $sugImgSize/2;
      font-size: 1.4rem;
      $size: 3rem;
      width: $size;
      height: $size;
      line-height: $size;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      color: inherit;
    }
  }

  &__close-button {
    border: none;
    margin-right: auto;
    background-color: transparent;
    padding: 0;
  }

  &__full-cart-suggestion {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  &__empty-cart-suggestion,
  &__full-cart-suggestion {
    &--hidden {
      display: none;
    }
  }

  &__empty-message {
    font-size: 2rem;
    text-align: center;
    margin: 7rem auto;

    @include breakpoint(sm) {
      font-size: 3rem;
    }
  }

  &__total-amount {
    text-align: right;
    font-size: 1.6rem;

    @include breakpoint(sm) {
      font-size: 2.2rem;
    }

    &--hidden {
      display: none;
    }
  }

  &__error {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141414;
    color: white;
    padding: 3rem;
    z-index: 12;
    opacity: 1;
    transition: 0.1s;

    &--hidden {
      opacity: 0;
      z-index: -1;
    }
  }
}
