.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 500px;
  min-height: 100vh;
  overflow: auto;
  background-color: #141414;
  transform: translateX(100%);
  transition: 0.2s;
  padding: 3rem;
  z-index: 3;

  &--open {
    transform: translateX(0);
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__form {
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--open {
      max-height: 450px;
    }
  }

  &__form-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: -15px;
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transition: 0.2s;
    }

    &--open {
      &::after {
        top: 11px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
    }
  }

  &__input {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
  }

  &__textarea {
    padding: 1rem;
    width: 100%;
    border: none;
    min-height: 10rem;
    border-radius: 5px;
  }
}
