.header {
  &__container {
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      display: block;
      text-align: center;
    }
  }

  &__logo {
    font-size: 5rem;
    margin-top: 2rem;
    color: $primary-color;
    font-weight: normal;
  }
}
