.header {
  padding-top: 6rem;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 0.2s;

    &--scrolled {
      background-color: #0d0d0d;
      padding-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 5rem;
    margin-top: 2rem;
    color: $primary-color;
    font-weight: normal;
  }

  &__menu {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 3rem;
  }
}
