.header {
  padding-top: 6rem;

  @include breakpoint(md) {
    padding-top: 10rem;
  }

  @include breakpoint(xl) {
    padding-top: 12rem;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 0.2s;

    &--scrolled {
      background-color: #0d0d0d;
      padding-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--open {
      background-color: #191919;
      padding-bottom: 2rem;
    }
  }

  &__logo {
    font-size: 5rem;
    margin-top: 2rem;
    color: $primary-color;
    font-weight: normal;
  }

  &__menu {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 3rem;
  }

  &__cart {
    background-color: transparent;
    padding: 0;
    border: none;
    max-width: 4rem;
    margin-top: auto;
  }

  &__cart-icon {
    width: 100%;
  }
}
