.navigator {
  &--hidden {
    display: none;
  }

  &__list {
    margin-top: 2rem;
    padding: 0.2rem 2rem;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    visibility: hidden;
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity 0.2s;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint(sm) {
      padding: 0.5rem 4rem;
    }

    @include breakpoint(md) {
      padding: 0.5rem 8rem;
    }

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__list-item {
    flex-shrink: 0;

    &--active {
      font-weight: bold;
      color: $primary-color;
    }
  }
}
