.navigator {
  color: #fff;

  @include breakpoint(lg) {
    position: sticky;
    z-index: 10;
    top: 0;
    height: 100vh;
    width: max-content;
    min-width: 20rem;
  }

  &--hidden {
    display: none;
  }

  &__list {
    padding: 0.2rem 2rem;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
    transition: opacity 0.2s;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint(sm) {
      padding: 0.5rem 4rem;
    }

    @include breakpoint(lg) {
      flex-direction: column;
      width: max-content;
      gap: 1.2rem;
      position: fixed;
      left: 0;
      z-index: 10;
      height: 100vh;
      padding: 2rem;
      background-color: #0d0d0d;
      min-width: 20rem;
    }

    // &--open {
    //   padding: 2rem 0;
    //   position: sticky;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;

    //   visibility: visible;
    //   opacity: 1;
    //   background-color: #0d0d0d;
    //   z-index: 10;

    //   @include breakpoint(lg) {
    //     height: 100%;
    //     padding: 2rem;
    //   }
    // }
  }

  &__list-item {
    flex-shrink: 0;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &--active {
      font-weight: bold;
      color: $primary-color;
    }
  }
}
