.products {
  color: #fafafa;

  &__title-wrapper {
    display: inline-flex;
    gap: 5rem;
    border-bottom: 0.2rem solid $primary-color;
    padding-bottom: 0.5rem;
    margin-bottom: 2.5rem;
    margin-top: 6rem;
  }

  &__title {
    //
  }
}
