.product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 2rem;

  @include breakpoint(md) {
    flex: 0 0 calc(50% - 0.5rem);
  }

  @include breakpoint(xl) {
    flex: 0 0 calc(33.3% - 1rem);
  }

  &__info {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
  }

  &__ingredients {
    margin: 1rem 0;
    font-size: 1.4rem;
    opacity: 0.9;
    line-height: 1.5;
  }

  &__price {
    margin-top: auto;
    font-weight: 700;
  }

  &__image-wrapper {
    flex-shrink: 0;
    margin-left: 1.5rem;
  }

  &__image {
    max-width: 8.3rem;
  }

  &__cart {
    margin-top: 1rem;
  }

  &__amount {
    color: white;
    min-width: 2.5rem;
    display: inline-block;
    text-align: center;
  }
}
