.products {
  color: #fafafa;
  margin-top: 4rem;

  &__wrapper {
    @include breakpoint(md) {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    @include breakpoint(xl) {
      gap: 1.5rem;
    }
  }
}
