.product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 2rem;

  @include breakpoint(md) {
    flex: 0 0 calc(50% - 0.5rem);
  }

  @include breakpoint(xl) {
    flex: 0 0 calc(33.3% - 1rem);
  }

  &__info {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    // &--sidebar {
    //   flex-direction: row;
    //   justify-content: space-between;
    //   width: 100%;
    // }
  }

  &__name {
    font-weight: 600;
    font-size: 2rem;
  }

  &__name-wrapper {
    display: flex;
    gap: 1rem;

    &--sidebar {
      // flex-direction: column;
      margin-bottom: 0.5rem;
    }
  }

  &__ingredients {
    margin: 1rem 0;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    opacity: 0.8;
    line-height: 1.5;
  }

  &__price {
    margin-top: auto;
    font-weight: 700;
  }

  &__image-wrapper {
    flex-shrink: 0;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    max-width: 8.3rem;
  }

  &__cart {
    margin-top: 1rem;
  }

  &__amount {
    color: white;
    min-width: 2.5rem;
    display: inline-block;
    text-align: center;
  }

  &__variations {
    margin-bottom: 1rem;
  }

  &__variation {
    margin-bottom: 1rem;
    display: block;
  }

  &__variation-input {
    display: none;
  }

  &__variation-input:checked + &__variation-label {
    background: #1077c0;
    border-radius: 5px;
  }

  &__variation-label {
    cursor: pointer;
    line-height: 1.4;
    display: block;
    padding: 0.2rem 1rem;
    max-width: fit-content;
  }
}
