.single-project {
  margin-top: 3rem;
  margin-bottom: 11.1rem;
  font-size: 1.8rem;
  line-height: 1.2;

  @include breakpoint(sm) {
    font-size: 1.6rem;
    margin-bottom: 7rem;
  }

  &__modal {
    display: none;

    @include breakpoint(sm) {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 101;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  h1,
  h2 {
    font-size: 4.3rem;
    font-weight: 700;
    margin-bottom: 3rem;

    @include breakpoint(sm) {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
  }

  h4 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: 2rem;
    }
  }

  figure:last-child {
    margin-bottom: 0;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 3rem;

      @include breakpoint(sm) {
        margin-bottom: 2rem;
      }
    }
  }

  .container > *:nth-child(2) {
    margin: 7rem 0;

    @include breakpoint(md) {
      display: block;
      margin: 4rem 0;

      .wp-block-column:last-child {
        margin-left: 0;
        margin-top: 3rem;
      }
    }
  }

  .wp-block-image {
    margin-bottom: 4rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .wp-block-columns {
    margin-bottom: 4rem;
  }

  @include breakpoint(sm) {
    .wp-block-column {
      &:first-child {
        .wp-block-image {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .wp-block-columns {
    .wp-block-columns {
      .wp-block-image {
        margin-bottom: 0;
      }
    }
  }

  .mt {
    margin-top: 8.7rem;

    @include breakpoint(sm) {
      margin-top: 6.5rem;
    }
  }

  .wp-block-columns.mt {
    @include breakpoint(sm) {
      &:nth-of-type(odd) {
        flex-direction: column-reverse;
      }
    }
  }

  .mt.wp-block-columns .wp-block-column:first-child .wp-block-image {
    @include breakpoint(sm) {
      margin-bottom: 0;
    }
  }
}
