.title {
  display: inline-flex;
  align-items: center;

  &--with-icon {
    gap: 5rem;
    border-bottom: 0.2rem solid $primary-color;
    padding-bottom: 0.5rem;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
  }

  &--dark {
    border-bottom: 0.2rem solid #0d0d0d;
    padding-right: 4rem;

    & > * {
      color: #0d0d0d;
    }
  }
}
