.container {
  max-width: 2500px;
  margin: 0 auto;
  padding: 0 $container-padding-mob;

  @include breakpoint(sm) {
    padding: 0 $container-padding/2;
  }

  @include breakpoint(md) {
    padding: 0 $container-padding;
  }

  &--wide {
    max-width: 100%;

    @include breakpoint(sm) {
      padding: 0 $container-padding/2;
    }

    @include breakpoint(md) {
      padding: 0 $container-padding;
    }

    @include breakpoint(lg) {
      padding: 0 2rem;
    }
  }

  &--narrow {
    max-width: 80rem;
  }
}

.noscroll {
  overflow: hidden;
}

.hidden {
  display: none;
}
