.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 $container-padding;
  
  @include breakpoint(md) {
    padding: 0 $container-padding/2;
  }
  
  @include breakpoint(sm) {
    padding: 0 $container-padding-mob;
  }

  &--narrow {
    max-width: 80rem;
  }
}

.noscroll {
  overflow: hidden;
}
