@import 'vendor/reset';
@import 'vendor/hamburger-menu';

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendor-overrides/hamburger';

@import 'base/animations';
@import 'base/fonts';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/header';
@import 'components/footer';
@import 'components/products';
@import 'components/product';
@import 'components/free-delivery';
@import 'components/title';
@import 'components/contact';
@import 'components/floating-call';
@import 'components/mobile-menu';
@import 'components/navigator';

.test {
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 50px;
  color: black;
}

main {
  display: flex;
}

.right {
  border: 1px solid red;
  flex: 0 0 500px;
}
